<!DOCTYPE html>
<html lang="es">
<head>
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{% block head %}
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.ico', true) }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/pure-0.5.0/grids-min.css') %}
        {% do assets.addCss('theme://css/starterdaily-mediakit.css') %}

        {% if browser.getBrowser == 'msie' and browser.getVersion == 10 %}
            {% do assets.addCss('theme://css/nucleus-ie10.css') %}
        {% endif %}
        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.addCss('theme://css/nucleus-ie9.css') %}
            {% do assets.addJs('theme://js/html5shiv-printshiv.min.js') %}
        {% endif %}
    {% endblock %}
    {{ assets.css() }}

{% endblock head%}
</head>
<body class="{{ page.header.body_classes }}">
    {% block header %}
      <header id="header">

        <div class="content-menu">

            <div class="logo">
                <h1>
                <a href="{{ base_url == '' ? '/' : base_url }} ">
                    <img src="{{ theme_url }}/images/logo-starterdaily-r.png"/>
                </a>
                </h1>
            </div>

            <div id="navbar">
              {% block header_extra %}{% endblock %}
              {% if config.plugins.langswitcher.enabled %}
              {% include 'partials/langswitcher.html.twig' %}
              {% endif %}
              {% block header_navigation %}
              {% include 'partials/navigation.html.twig' %}
              {% endblock %}
              <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
            </div>

        </div>     


      </header>
    {% endblock %}

    {% block body %}
      <section class="{{ class }}">
          {% block content %}{% endblock %}
      </section>
    {% endblock %}

    {% block footer %}
      <footer class="footer">
        <div class="end_mediakit_content">
            <div class="end_mediakit">
               <img src="{{ theme_url }}/images/screenshot.jpg"/>  
            </div>
            <div class="bg-color"></div>
            <div markdown="1" class="end_info">
                <div markdown="1" class="end_info-center">
                    <img src="{{ theme_url }}/images/logo-starterdaily-r.png"/>
                    <h5>gracias</h5>
                </div>  
            </div>   
        </div>
      </footer>
    {% endblock %}

    {% block bottom %}
      {% block javascripts %}
          {% do assets.addJs('jquery',101) %}
          {% do assets.addJs('theme://js/modernizr.custom.71422.js',100) %}
          {% do assets.addJs('theme://js/starterdaily-mediakit.min.js',99) %}
      {% endblock %}
      {{ assets.js() }}
    {% endblock %}
</body>
</html>
